
@model Garage2.Models.Receipt

@{
    ViewBag.Title = "Receipt";
}

<div>
    <h3>Parking Receipt</h3>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNo)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>


        @*<dt>
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>
    </dl>*@
</div>
<p>
  
    @Html.ActionLink("Back to Parked Vehicles", "ParkedVehicles")
</p>
